.burger {
  position: relative;
  display: none;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 8px rgba(27, 39, 90, 12%);
  background-color: #fff;

  &.burger--active {
    .burger__icon-opened {
      transform: translate(-50%, -50%) scale(0);
    }

    .burger__icon-closed {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 20px;
    height: 20px;

    &-opened,
    &-closed {
      transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    }

    &-closed {
      transform: translate(-50%, -50%) scale(0);
    }

    @media (max-width: 576px) {
      width: 16px;
      height: 16px;
    }
  }

  @media (max-width: 576px) {
    width: 32px;
    height: 32px;
  }
}
