.category {

  &__container {
    padding-bottom: 30px;

    @media (max-width: 1024px) {
      padding-bottom: 80px;
    }

    @media (max-width: 768px) {
      padding-bottom: 50px;
    }

    @media (max-width: 576px) {
      padding-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &__desc {
    margin: 0;
    margin-bottom: 49px;
    font-size: 15px;
    line-height: 28px;
    color: var(--color-text);

    @media (max-width: 768px) {
      font-size: 13px;
      line-height: 21px;
      margin-bottom: 40px;
    }

    @media (max-width: 576px) {
      font-size: 11px;
      line-height: 22px;
      margin-bottom: 15px;
    }
  }

  &__text {
    @media (max-width: 1024px) {
      display: none;
    }
  }
}
