.catalog {
  display: grid;
  column-gap: 88px;
  grid-template-columns: 240px auto;

  &__content {
    width: 100%;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;

    @media (max-width: 576px) {
      margin-bottom: 15px;
    }
  }

  &__filters-toggle {
    display: none;

    @media (max-width: 1024px) {
      display: inline-flex;
    }

    @media (max-width: 576px) {
      padding: 7px 12px;
      min-width: 106px;
      font-size: 11px;
      line-height: 14px;
    }
  }

  &__sort-by {
    margin-left: auto;

    @media (max-width: 576px) {
      .sort-by__caption {
        display: none;
      }
    }
  }

  &__pagination {
    margin-bottom: 61px;

    @media (max-width: 1024px) {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 30px;
  }

  @media (max-width: 1024px) {
    display: block;
  }
}

.load-more {
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;

  @media (max-width: 576px) {
    font-weight: 400;
  }
}
