.g-btn {
  --duration: 0.3s;
  display: inline-flex;
  align-items: center;
  border: 1px solid #e4e6ef;
  border-radius: 10px;
  padding: 12.5px 40px 13.5px;
  min-width: 170px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: var(--color-text);
  transition: background-color var(--duration), color var(--duration), border var(--duration);

  &[disabled] {
    opacity: 0.7;
    pointer-events: none;
  }

  svg {
    display: block;
    flex-shrink: 0;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    fill: currentColor;
    stroke: currentColor;
    transition: fill var(--duration), stroke var(--duration);
  }

  &:hover,
  &:focus-within {
    border: 1px solid currentColor;
    color: var(--color-primary);
  }

  &--stroke {
    border: 1px solid currentColor;
    color: var(--color-primary);

    &:hover,
    &:focus-within {
      color: #fff;
      background-color: var(--color-primary);

      svg {
        fill: #fff;
      }
    }
  }

  &--fill {
    border: 1px solid var(--color-primary);
    color: #fff;
    background-color: var(--color-primary);

    &:hover,
    &:focus-within {
      color: #fff;
      background-color: #2334b2;
    }
  }
}
