.hero {

  &__container {
    padding-top: 90px;
    padding-bottom: 99px;

    @media (max-width: 1024px) {
      padding-top: 40px;
      padding-bottom: 70px;
    }

    @media (max-width: 576px) {
      padding-top: 0;
      padding-bottom: 20px;
    }

    @media (max-width: 375px) {
      padding-bottom: 10px;
    }
  }

  &__title {
    margin-bottom: 32px;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__search-form {
    margin: 0 auto 22px;
    max-width: 915px;

    @media (max-width: 1024px) {
      max-width: 700px;
    }

    @media (max-width: 576px) {
      margin-bottom: 16px;
    }

    @media (max-width: 375px) {
      margin-bottom: 13px;
    }
  }

  &__search-tags {
    margin: 0 auto 80px;
    max-width: 915px;

    @media (max-width: 1024px) {
      max-width: 700px;
      margin-bottom: 60px;
    }

    @media (max-width: 768px) {
      margin-bottom: 50px;
    }

    @media (max-width: 576px) {
      margin-bottom: 30px;
    }
  }

  &__benefits {
    @media (max-width: 1024px) {
      max-width: 700px;
    }
  }
}
