.search-form {
  position: relative;
  max-width: 609px;
  width: 100%;

  &--lg {

    .search-form__input {
      border: 2px solid var(--color-primary);
      padding-right: 80px;
      height: 60px;
      font-weight: 500;
      font-size: 18px;

      @media (max-width: 576px) {
        padding-right: 66px;
        height: 46px;
        font-weight: 400;
        font-size: 14px;
      }

      @media (max-width: 375px) {
        padding-right: 60px;
        height: 40px;
        font-size: 11px;
      }

      &::placeholder {
        color: #737e9a;
      }
    }

    .search-form__btn {
      width: 60px;
      height: 60px;

      @media (max-width: 576px) {
        width: 46px;
        height: 46px;
      }

      @media (max-width: 375px) {
        width: 40px;
        height: 40px;
      }

      svg {
        width: 24px;
        height: 24px;

        @media (max-width: 576px) {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  &__input {
    border: 2px solid #e1e4ef;
    border-radius: 30px;
    padding: 0 22px;
    padding-right: 66px;
    width: 100%;
    height: 46px;
    font-size: 14px;
    color: var(--color-text);
    background: #fff;

    &.is-invalid {
      border: 2px solid var(--color-red);

      &::placeholder {
        color: var(--color-red);
      }

      & ~ .search-form__btn {
        background-color: var(--color-red);
      }
    }

    &::placeholder {
      color: #a5a5ad;
    }

    &:focus:not(.is-invalid) {
      border: 2px solid var(--color-primary);
    }

    @media (max-width: 375px) {
      padding-right: 60px;
      height: 40px;
      font-size: 11px;
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 46px;
    height: 46px;
    background-color: var(--color-primary);
    transition: background-color 0.3s;

    &:hover,
    &:focus-within {
      background-color: #2334b2;
    }

    svg {
      display: block;
      width: 18px;
      height: 18px;
    }

    @media (max-width: 375px) {
      width: 40px;
      height: 40px;
    }
  }
}

.search-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__item {
    margin-right: 16px;
    margin-bottom: 16px;

    @media (max-width: 576px) {
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }

  &__link {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 12px;
    font-size: 12px;
    line-height: 14.5px;
    color: var(--color-text);
    background: #f0f4ff;

    @media (max-width: 576px) {
      padding: 5px 8px;
    }
  }

  &__all-categories {
    font-size: 12px;
    line-height: 14.5px;

    a {
      text-decoration: underline;
      color: var(--color-primary);

      &:hover,
      &:focus-within {
        text-decoration: none;
      }
    }
  }
}

.just-validate-error-label {
  margin-top: 5px;
  padding-left: 24px;
  font-size: 12px;
  line-height: 15px;
}
