.search-results {

  &__title {
    margin-bottom: 30px;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }

    @media (max-width: 576px) {
      margin-bottom: 15px;
    }
  }

  &__search-form {
    margin-bottom: 32px;
    max-width: 100%;

    @media (max-width: 576px) {
      margin-bottom: 20px;
    }
  }
}
