.sort-by {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;

  &.open {

    .sort-by__list {
      display: block;
      opacity: 1;
      visibility: visible;
    }

    .sort-by__current:after {
      transform: rotate(180deg);
    }
  }

  &__caption {
    margin-right: 6px;
    font-size: 13px;
    line-height: 16px;
    color: #8286a1;
    pointer-events: none;
  }

  &__current {
    position: relative;
    padding-right: 24px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: var(--color-text);
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 16px;
      height: 16px;
      background-image: url(../img/svg/down.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.3s;
    }

    @media (max-width: 576px) {
      font-size: 11px;
      line-height: 14px;
    }
  }

  &__list {
    position: absolute;
    right: 0;
    top: calc(100% + 23px);
    border-radius: 6px;
    padding: 5px;
    min-width: 290px;
    box-shadow: 0 2px 25px rgba(13, 36, 128, 15%);
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

    @media (max-width: 576px) {
      min-width: 200px;
    }
  }

  &__item {
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 22px;
    color: var(--color-text);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    &.active {
      color: var(--color-primary);
      background-color: rgba(#3c50e0, 8%);

      @media (max-width: 576px) {
        font-weight: 500;
      }
    }

    @include hover {
      color: var(--color-primary);
    }
  }
}
