<section class="about">
  <div class="container about__container">
    <ul class="breadcrumbs list-reset">
      <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__link">
          Главная
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">
          О проекте
        </a>
      </li>
    </ul>
    <h1 class="g-title g-title--xl about__title">О проекте</h1>
    <h2 class="g-title g-title--lg about__subtitle">Настоящая Политика содержит следующую информацию</h2>
    <ul class="about__list about__list--line">
      <li>
        цель обработки персональных данных;
      </li>
      <li>
        перечень персональных данных, на обработку которых дается согласие субъекта персональных данных;
      </li>
      <li>
        наименование или фамилия, имя, отчество и адрес лица, осуществляющего обработку персональных данных по поручению
        оператора, если обработка будет поручена такому лицу;
      </li>
      <li>
        перечень действий с персональными данными, на совершение которых дается согласие, общее описание используемых
        оператором способов обработки персональных данных;
      </li>
    </ul>
    <h3 class="g-title g-title--md about__subtitle">Настоящая Политика содержит следующую информацию</h3>
    <ol class="about__list about__list--numbered">
      <li>
        цель обработки персональных данных;
      </li>
      <li>
        перечень персональных данных, на обработку которых дается согласие субъекта персональных данных;
      </li>
      <li>
        наименование или фамилия, имя, отчество и адрес лица, осуществляющего обработку персональных данных по поручению
        оператора, если обработка будет поручена такому лицу;
      </li>
      <li>
        перечень действий с персональными данными, на совершение которых дается согласие, общее описание используемых
        оператором способов обработки персональных данных;
      </li>
    </ol>
    <h3 class="g-title g-title--sm about__subtitle">Настоящая Политика содержит следующую информацию</h3>
    <ul class="about__list about__list--circle">
      <li>
        цель обработки персональных данных;
      </li>
      <li>
        перечень персональных данных, на обработку которых дается согласие субъекта персональных данных;
      </li>
      <li>
        наименование или фамилия, имя, отчество и адрес лица, осуществляющего обработку персональных данных по поручению
        оператора, если обработка будет поручена такому лицу;
      </li>
      <li>
        перечень действий с персональными данными, на совершение которых дается согласие, общее описание используемых
        оператором способов обработки персональных данных;
      </li>
    </ul>
    <p class="about__desc">
      На портале размещаются обзоры современных образовательных программ России и СНГ, интернет-профессий и цифровых
      сервисов. Помогаем определиться с профессией, подобрать подходящий онлайн-курс из огромной внутренней базы.
      Сотрудничаем с онлайн-университетами и школами, получаем выгодные условия на обучение и делимся ими с читателями.
      Наша цель — помочь получить востребованную онлайн-профессию без лишних проблем и разочарований.
    </p>
    <p class="about__desc">
      К нам обращаются, чтобы получить персональные рекомендации по digital-профессиям. Анализируем навыки и составляем
      план развития. Он состоит из самостоятельного образования, практики и прохождения онлайн-курсов для быстрого
      освоения профессии.
    </p>
    <p class="about__desc">
      Наша отличительная черта — мы сами учились на многих курсах и можем с уверенностью сказать, какие из них стоят
      внимания, а какие — просто потеря времени (и денег).
    </p>
  </div>
</section>
