<section class="category">
  <div class="container category__container">
    <ul class="breadcrumbs list-reset">
      <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__link">
          Главная
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a href="categories.html" class="breadcrumbs__link">
          Программирование
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">
          Java
        </a>
      </li>
    </ul>
    <h1 class="g-title g-title--lg category__title">Программирование на Java</h1>
    <p class="category__desc">Подборка курсов по Backend-разработке. Ведущие школы подготовки IT-специалистов предлагают большой выбор программ современного обучения Backend-разработчиков с нуля. Выбирайте условия, сроки обучения, возможность трудоустройства и уровень начальных знаний.</p>
    <div class="catalog">
      <div class="filters">
        <div class="filter accordion open">
          <button class="filter__btn accordion__control btn-reset" aria-label="Открыть фильтр">
            Помощь в трудоустройстве
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#arrow-filter"></use>
            </svg>
          </button>
          <div class="filter-content accordion__content">
            <label class="g-checkbox">
              <input class="input-reset g-checkbox__input" type="checkbox" checked>
              <span class="g-checkbox__switch"></span>
              <span class="g-checkbox__txt">Да</span>
            </label>
          </div>
        </div>
        <div class="filter accordion open">
          <button class="filter__btn accordion__control btn-reset" aria-label="Открыть фильтр">
            Длительность, мес
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#arrow-filter"></use>
            </svg>
          </button>
          <div class="filter-content accordion__content">
            <div class="filter-slider">
              <div class="filter-slider__wrapper">
                <input class="input-reset g-input filter-slider__input input-0" type="text" placeholder="от 1">
                <input class="input-reset g-input filter-slider__input input-1" type="text" placeholder="от 12">
              </div>
              <div class="filter-price__element range-slider" data-min="1" data-max="24"></div>
            </div>
          </div>
        </div>
        <div class="filter accordion open">
          <button class="filter__btn accordion__control btn-reset" aria-label="Открыть фильтр">
            Стоимость, ₽
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#arrow-filter"></use>
            </svg>
          </button>
          <div class="filter-content accordion__content">
            <div class="filter-slider">
              <div class="filter-slider__wrapper">
                <input class="input-reset g-input filter-slider__input input-0" type="text" placeholder="от 1000">
                <input class="input-reset g-input filter-slider__input input-1" type="text" placeholder="от 100 000">
              </div>
              <div class="filter-price__element range-slider" data-min="1000" data-max="100000"></div>
            </div>
          </div>
        </div>
        <div class="filter accordion open">
          <button class="filter__btn accordion__control btn-reset" aria-label="Открыть фильтр">
            Рассрочка
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#arrow-filter"></use>
            </svg>
          </button>
          <div class="filter-content accordion__content">
            <label class="g-checkbox">
              <input class="input-reset g-checkbox__input" type="checkbox" checked>
              <span class="g-checkbox__switch"></span>
              <span class="g-checkbox__txt">Да</span>
            </label>
          </div>
        </div>
        <div class="filter accordion open">
          <button class="filter__btn accordion__control btn-reset" aria-label="Открыть фильтр">
            Дата начала
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#arrow-filter"></use>
            </svg>
          </button>
          <div class="filter-content accordion__content">
            <label class="g-radio filter-content__item">
              <input class="input-reset g-radio__input" type="radio" name="input" value="value1" checked>
              <span class="g-radio__switch"></span>
              <span class="g-radio__caption">В любое время</span>
            </label>
            <label class="g-radio filter-content__item">
              <input class="input-reset g-radio__input" type="radio" name="input" value="value1">
              <span class="g-radio__switch"></span>
              <span class="g-radio__caption">Фиксированная дата.</span>
            </label>
          </div>
        </div>
        <div class="filter accordion open">
          <button class="filter__btn accordion__control btn-reset" aria-label="Открыть фильтр">
            С сертификатом
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#arrow-filter"></use>
            </svg>
          </button>
          <div class="filter-content accordion__content">
            <label class="g-checkbox">
              <input class="input-reset g-checkbox__input" type="checkbox">
              <span class="g-checkbox__switch"></span>
              <span class="g-checkbox__txt">Да</span>
            </label>
          </div>
        </div>
        <button class="btn-reset g-btn filters__reset">Сбросить фильтр</button>
      </div>
      <div class="catalog__content">
        <div class="sort-by"></div>
        <div class="catalog__body">

        </div>
      </div>
    </div>
  </div>
</section>
