<section class="discounts">
  <div class="container discounts__container">
    <ul class="breadcrumbs list-reset">
      <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__link">
          Главная
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">
          Скидки и акции
        </a>
      </li>
    </ul>
    <h1 class="g-title g-title--xl discounts__title">Скидки и акции</h1>
    <div class="cards">
      <a href="#" class="card discounts__card">
        <div class="card__left">
          <div class="card__content">
            <img width="116" height="38" class="card__image lozad" src="img/school-2.png" srcset="img/school-2@2x.png 2x" alt="Логотип школы 1">
            <div class="card__text">
              <h2 class="g-title g-title--sm card__title">
                50% на курсы Coursera
              </h2>
              <p class="card__desc">
                Образовательная онлайн-платформа Coursera создана для того, чтобы дать своим пользователям все, чего они ждут от современного обучения, — онлайн-курсы от лучших профессионалов и возможность сразу превращать знания в результат, получая доход.
              </p>
              <div class="card-info">
                <div class="card-info__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#time"></use>
                  </svg>
                  <span class="card-info__caption">Действует до 1 июня 2022</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card__right">
          <div class="g-btn g-btn--stroke card__btn">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#offer"></use>
            </svg>
            Получить скидку
          </div>
        </div>
      </a>
      <a href="#" class="card discounts__card">
        <div class="card__left">
          <div class="card__content">
            <img width="116" height="38" class="card__image lozad" src="img/school-2.png" srcset="img/school-2@2x.png 2x" alt="Логотип школы 1">
            <div class="card__text">
              <h2 class="g-title g-title--sm card__title">
                50% на курсы Coursera
              </h2>
              <p class="card__desc">
                Образовательная онлайн-платформа Coursera создана для того, чтобы дать своим пользователям все, чего они ждут от современного обучения, — онлайн-курсы от лучших профессионалов и возможность сразу превращать знания в результат, получая доход.
              </p>
              <div class="card-info">
                <div class="card-info__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#time"></use>
                  </svg>
                  <span class="card-info__caption">Действует до 1 июня 2022</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card__right">
          <div class="g-btn g-btn--stroke card__btn">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#offer"></use>
            </svg>
            Получить скидку
          </div>
        </div>
      </a>
      <a href="#" class="card discounts__card">
        <div class="card__left">
          <div class="card__content">
            <img width="116" height="38" class="card__image lozad" src="img/school-2.png" srcset="img/school-2@2x.png 2x" alt="Логотип школы 1">
            <div class="card__text">
              <h2 class="g-title g-title--sm card__title">
                50% на курсы Coursera
              </h2>
              <p class="card__desc">
                Образовательная онлайн-платформа Coursera создана для того, чтобы дать своим пользователям все, чего они ждут от современного обучения, — онлайн-курсы от лучших профессионалов и возможность сразу превращать знания в результат, получая доход.
              </p>
              <div class="card-info">
                <div class="card-info__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#time"></use>
                  </svg>
                  <span class="card-info__caption">Действует до 1 июня 2022</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card__right">
          <div class="g-btn g-btn--stroke card__btn">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#offer"></use>
            </svg>
            Получить скидку
          </div>
        </div>
      </a>
      <a href="#" class="card discounts__card">
        <div class="card__left">
          <div class="card__content">
            <img width="116" height="38" class="card__image lozad" src="img/school-2.png" srcset="img/school-2@2x.png 2x" alt="Логотип школы 1">
            <div class="card__text">
              <h2 class="g-title g-title--sm card__title">
                50% на курсы Coursera
              </h2>
              <p class="card__desc">
                Образовательная онлайн-платформа Coursera создана для того, чтобы дать своим пользователям все, чего они ждут от современного обучения, — онлайн-курсы от лучших профессионалов и возможность сразу превращать знания в результат, получая доход.
              </p>
              <div class="card-info">
                <div class="card-info__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#time"></use>
                  </svg>
                  <span class="card-info__caption">Действует до 1 июня 2022</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card__right">
          <div class="g-btn g-btn--stroke card__btn">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#offer"></use>
            </svg>
            Получить скидку
          </div>
        </div>
      </a>
      <a href="#" class="card discounts__card">
        <div class="card__left">
          <div class="card__content">
            <img width="116" height="38" class="card__image lozad" src="img/school-2.png" srcset="img/school-2@2x.png 2x" alt="Логотип школы 1">
            <div class="card__text">
              <h2 class="g-title g-title--sm card__title">
                50% на курсы Coursera
              </h2>
              <p class="card__desc">
                Образовательная онлайн-платформа Coursera создана для того, чтобы дать своим пользователям все, чего они ждут от современного обучения, — онлайн-курсы от лучших профессионалов и возможность сразу превращать знания в результат, получая доход.
              </p>
              <div class="card-info">
                <div class="card-info__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#time"></use>
                  </svg>
                  <span class="card-info__caption">Действует до 1 июня 2022</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card__right">
          <div class="g-btn g-btn--stroke card__btn">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#offer"></use>
            </svg>
            Получить скидку
          </div>
        </div>
      </a>
      <a href="#" class="card discounts__card">
        <div class="card__left">
          <div class="card__content">
            <img width="116" height="38" class="card__image lozad" src="img/school-2.png" srcset="img/school-2@2x.png 2x" alt="Логотип школы 1">
            <div class="card__text">
              <h2 class="g-title g-title--sm card__title">
                50% на курсы Coursera
              </h2>
              <p class="card__desc">
                Образовательная онлайн-платформа Coursera создана для того, чтобы дать своим пользователям все, чего они ждут от современного обучения, — онлайн-курсы от лучших профессионалов и возможность сразу превращать знания в результат, получая доход.
              </p>
              <div class="card-info">
                <div class="card-info__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#time"></use>
                  </svg>
                  <span class="card-info__caption">Действует до 1 июня 2022</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card__right">
          <div class="g-btn g-btn--stroke card__btn">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#offer"></use>
            </svg>
            Получить скидку
          </div>
        </div>
      </a>
      <a href="#" class="card discounts__card">
        <div class="card__left">
          <div class="card__content">
            <img width="116" height="38" class="card__image lozad" src="img/school-2.png" srcset="img/school-2@2x.png 2x" alt="Логотип школы 1">
            <div class="card__text">
              <h2 class="g-title g-title--sm card__title">
                50% на курсы Coursera
              </h2>
              <p class="card__desc">
                Образовательная онлайн-платформа Coursera создана для того, чтобы дать своим пользователям все, чего они ждут от современного обучения, — онлайн-курсы от лучших профессионалов и возможность сразу превращать знания в результат, получая доход.
              </p>
              <div class="card-info">
                <div class="card-info__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#time"></use>
                  </svg>
                  <span class="card-info__caption">Действует до 1 июня 2022</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card__right">
          <div class="g-btn g-btn--stroke card__btn">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#offer"></use>
            </svg>
            Получить скидку
          </div>
        </div>
      </a>
      <a href="#" class="card discounts__card">
        <div class="card__left">
          <div class="card__content">
            <img width="116" height="38" class="card__image lozad" src="img/school-2.png" srcset="img/school-2@2x.png 2x" alt="Логотип школы 1">
            <div class="card__text">
              <h2 class="g-title g-title--sm card__title">
                50% на курсы Coursera
              </h2>
              <p class="card__desc">
                Образовательная онлайн-платформа Coursera создана для того, чтобы дать своим пользователям все, чего они ждут от современного обучения, — онлайн-курсы от лучших профессионалов и возможность сразу превращать знания в результат, получая доход.
              </p>
              <div class="card-info">
                <div class="card-info__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#time"></use>
                  </svg>
                  <span class="card-info__caption">Действует до 1 июня 2022</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card__right">
          <div class="g-btn g-btn--stroke card__btn">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#offer"></use>
            </svg>
            Получить скидку
          </div>
        </div>
      </a>
      <a href="#" class="card discounts__card">
        <div class="card__left">
          <div class="card__content">
            <img width="116" height="38" class="card__image lozad" src="img/school-2.png" srcset="img/school-2@2x.png 2x" alt="Логотип школы 1">
            <div class="card__text">
              <h2 class="g-title g-title--sm card__title">
                50% на курсы Coursera
              </h2>
              <p class="card__desc">
                Образовательная онлайн-платформа Coursera создана для того, чтобы дать своим пользователям все, чего они ждут от современного обучения, — онлайн-курсы от лучших профессионалов и возможность сразу превращать знания в результат, получая доход.
              </p>
              <div class="card-info">
                <div class="card-info__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#time"></use>
                  </svg>
                  <span class="card-info__caption">Действует до 1 июня 2022</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card__right">
          <div class="g-btn g-btn--stroke card__btn">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#offer"></use>
            </svg>
            Получить скидку
          </div>
        </div>
      </a>
      <a href="#" class="card discounts__card">
        <div class="card__left">
          <div class="card__content">
            <img width="116" height="38" class="card__image lozad" src="img/school-2.png" srcset="img/school-2@2x.png 2x" alt="Логотип школы 1">
            <div class="card__text">
              <h2 class="g-title g-title--sm card__title">
                50% на курсы Coursera
              </h2>
              <p class="card__desc">
                Образовательная онлайн-платформа Coursera создана для того, чтобы дать своим пользователям все, чего они ждут от современного обучения, — онлайн-курсы от лучших профессионалов и возможность сразу превращать знания в результат, получая доход.
              </p>
              <div class="card-info">
                <div class="card-info__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#time"></use>
                  </svg>
                  <span class="card-info__caption">Действует до 1 июня 2022</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card__right">
          <div class="g-btn g-btn--stroke card__btn">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#offer"></use>
            </svg>
            Получить скидку
          </div>
        </div>
      </a>
      <button class="btn-reset g-btn load-more">
        <svg aria-hidden="true">
          <use xlink:href="img/sprite.svg#reload"></use>
        </svg>
        Показать еще
      </button>
      <ul class="g-pagination list-reset">
        <li class="g-pagination__item">
          <a href="#" class="g-pagination__link g-pagination__link--disabled g-pagination__link--prev">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#next"></use>
            </svg>
          </a>
        </li>
        <li class="g-pagination__item">
          <span class="g-pagination__link g-pagination__link--current">
            1
          </span>
        </li>
        <li class="g-pagination__item">
          <a href="#" class="g-pagination__link">
            2
          </a>
        </li>
        <li class="g-pagination__item">
          <a href="#" class="g-pagination__link">
            3
          </a>
        </li>
        <li class="g-pagination__item">
          <a href="#" class="g-pagination__link">
            4
          </a>
        </li>
        <li class="g-pagination__item">
          <a href="#" class="g-pagination__link">
            5
          </a>
        </li>
        <li class="g-pagination__item">
          <a href="#" class="g-pagination__link g-pagination__link--next">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#next"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
