<header class="header">
  <div class="container header__container header__container--fluid">
    <div class="header__left">
      <button class="btn-reset burger header__burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <svg class="burger__icon burger__icon-opened" aria-hidden="true">
          <use xlink:href="img/sprite.svg#burger"></use>
        </svg>
        <svg class="burger__icon burger__icon-closed" aria-hidden="true">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>
      <a href="/" class="header__logo">
        <img width="251" height="44" src="img/logo.svg" alt="CourseWorld">
      </a>
      <div class="menu" data-menu>
        <nav class="nav header__nav">
          <ul class="nav__list list-reset">
            <li class="nav__item nav__item--dropdown">
              <a href="categories.html" class="nav__link">
                <svg aria-hidden="true">
                  <use xlink:href="img/sprite.svg#menu"></use>
                </svg>
                Категории курсов
              </a>
              <ul class="nav-dropdown list-reset">
                <li class="nav-dropdown__item">
                  <a href="#" class="nav-dropdown__link">
                    Программирование
                    <svg aria-hidden="true">
                      <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                  </a>
                  <ul class="dropdown-list list-reset">
                    <li class="dropdown-list__item">
                      <a href="#" class="g-link g-link--black dropdown-list__link">Бизнес-аналитик</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="g-link g-link--black dropdown-list__link">Бизнес-аналитик</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="g-link g-link--black dropdown-list__link">Аналитик данных</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="g-link g-link--black dropdown-list__link">Финансовый аналитик</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="g-link g-link--black dropdown-list__link">Системный аналитик</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="g-link g-link--black dropdown-list__link">Аналитик 1С</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="g-link g-link--black dropdown-list__link">Веб аналитик</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="g-link g-link--black dropdown-list__link">Продуктовая аналитика</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="g-link g-link--black dropdown-list__link">HR-аналитик</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="g-link g-link--black dropdown-list__link">Сквозная аналитика</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="g-link g-link--black dropdown-list__link">Аналитик маркетплейсов</a>
                    </li>
                    <li class="dropdown-list__item">
                      <a href="#" class="g-link g-link--black dropdown-list__link">Аналитик BI</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-dropdown__item">
                  <a href="#" class="nav-dropdown__link">
                    Аналитика
                    <svg aria-hidden="true">
                      <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                  </a>
                  <ul class="dropdown-list list-reset">
                    <li class="dropdown-list__item">
                      <a href="#" class="g-link g-link--black dropdown-list__link">Аналитика</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-dropdown__item">
                  <a href="#" class="nav-dropdown__link">
                    Иностранные языки
                    <svg aria-hidden="true">
                      <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                  </a>
                  <ul class="dropdown-list list-reset">
                    <li class="dropdown-list__item">
                      <a href="#" class="g-link g-link--black dropdown-list__link">Иностранные языки</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-dropdown__item">
                  <a href="#" class="nav-dropdown__link">
                    Маркетинг
                    <svg aria-hidden="true">
                      <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                  </a>
                  <ul class="dropdown-list list-reset">
                    <li class="dropdown-list__item">
                      <a href="#" class="g-link g-link--black dropdown-list__link">Маркетинг</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-dropdown__item">
                  <a href="#" class="nav-dropdown__link">
                    Финансы
                    <svg aria-hidden="true">
                      <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                  </a>
                  <ul class="dropdown-list list-reset">
                    <li class="dropdown-list__item">
                      <a href="#" class="g-link g-link--black dropdown-list__link">Финансы</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-dropdown__item">
                  <a href="#" class="nav-dropdown__link">
                    Бизнес и управление
                    <svg aria-hidden="true">
                      <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                  </a>
                  <ul class="dropdown-list list-reset">
                    <li class="dropdown-list__item">
                      <a href="#" class="g-link g-link--black dropdown-list__link">Бизнес и управление</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-dropdown__item">
                  <a href="#" class="nav-dropdown__link">
                    Дизайн
                    <svg aria-hidden="true">
                      <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                  </a>
                  <ul class="dropdown-list list-reset">
                    <li class="dropdown-list__item">
                      <a href="#" class="g-link g-link--black dropdown-list__link">Дизайн</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-dropdown__item">
                  <a href="#" class="nav-dropdown__link">
                    Детям
                    <svg aria-hidden="true">
                      <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                  </a>
                  <ul class="dropdown-list list-reset">
                    <li class="dropdown-list__item">
                      <a href="#" class="g-link g-link--black dropdown-list__link">Детям</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-dropdown__item">
                  <a href="#" class="nav-dropdown__link">
                    Другое
                    <svg aria-hidden="true">
                      <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                  </a>
                  <ul class="dropdown-list list-reset">
                    <li class="dropdown-list__item">
                      <a href="#" class="g-link g-link--black dropdown-list__link">Другое</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav__item">
              <a href="schools.html" class="nav__link">Школы</a>
            </li>
            <li class="nav__item">
              <a href="discounts.html" class="nav__link">Скидки и акции</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Блог</a>
            </li>
          </ul>
        </nav>
        <div class="menu__content">
          <span class="menu__caption">Категории курсов</span>
          <div class="menu__list list-reset">
            <div class="menu__accordion accordion">
              <div class="menu-item accordion__control">
                <svg class="menu-item__icon">
                  <use xlink:href="img/sprite.svg#code"></use>
                </svg>
                <a href="#" class="g-link g-link--black menu-item__link">Программирование</a>
                <svg class="menu-item__arrow">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </div>
              <ul class="menu-dropdown accordion__content list-reset">
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Бизнес-аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик данных</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Финансовый аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Системный аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик 1С</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Веб аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Продуктовая аналитика</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">HR-аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Сквозная аналитика</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик маркетплейсов</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик BI</a>
                </li>
              </ul>
            </div>
            <div class="menu__accordion accordion">
              <div class="menu-item accordion__control">
                <svg class="menu-item__icon">
                  <use xlink:href="img/sprite.svg#pie-chart"></use>
                </svg>
                <a href="#" class="g-link g-link--black menu-item__link">Аналитика</a>
                <svg class="menu-item__arrow">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </div>
              <ul class="menu-dropdown accordion__content list-reset">
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Бизнес-аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик данных</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Финансовый аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Системный аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик 1С</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Веб аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Продуктовая аналитика</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">HR-аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Сквозная аналитика</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик маркетплейсов</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик BI</a>
                </li>
              </ul>
            </div>
            <div class="menu__accordion accordion">
              <div class="menu-item accordion__control">
                <svg class="menu-item__icon">
                  <use xlink:href="img/sprite.svg#speech-bubble"></use>
                </svg>
                <a href="#" class="g-link g-link--black menu-item__link">Иностранные языки</a>
                <svg class="menu-item__arrow">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </div>
              <ul class="menu-dropdown accordion__content list-reset">
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Бизнес-аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик данных</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Финансовый аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Системный аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик 1С</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Веб аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Продуктовая аналитика</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">HR-аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Сквозная аналитика</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик маркетплейсов</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик BI</a>
                </li>
              </ul>
            </div>
            <div class="menu__accordion accordion">
              <div class="menu-item accordion__control">
                <svg class="menu-item__icon">
                  <use xlink:href="img/sprite.svg#megaphone"></use>
                </svg>
                <a href="#" class="g-link g-link--black menu-item__link">Маркетинг</a>
                <svg class="menu-item__arrow">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </div>
              <ul class="menu-dropdown accordion__content list-reset">
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Бизнес-аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик данных</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Финансовый аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Системный аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик 1С</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Веб аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Продуктовая аналитика</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">HR-аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Сквозная аналитика</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик маркетплейсов</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик BI</a>
                </li>
              </ul>
            </div>
            <div class="menu__accordion accordion">
              <div class="menu-item accordion__control">
                <svg class="menu-item__icon">
                  <use xlink:href="img/sprite.svg#bank"></use>
                </svg>
                <a href="#" class="g-link g-link--black menu-item__link">Финансы</a>
                <svg class="menu-item__arrow">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </div>
              <ul class="menu-dropdown accordion__content list-reset">
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Бизнес-аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик данных</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Финансовый аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Системный аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик 1С</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Веб аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Продуктовая аналитика</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">HR-аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Сквозная аналитика</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик маркетплейсов</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик BI</a>
                </li>
              </ul>
            </div>
            <div class="menu__accordion accordion">
              <div class="menu-item accordion__control">
                <svg class="menu-item__icon">
                  <use xlink:href="img/sprite.svg#suitcase"></use>
                </svg>
                <a href="#" class="g-link g-link--black menu-item__link">Бизнес и управление</a>
                <svg class="menu-item__arrow">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </div>
              <ul class="menu-dropdown accordion__content list-reset">
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Бизнес-аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик данных</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Финансовый аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Системный аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик 1С</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Веб аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Продуктовая аналитика</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">HR-аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Сквозная аналитика</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик маркетплейсов</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик BI</a>
                </li>
              </ul>
            </div>
            <div class="menu__accordion accordion">
              <div class="menu-item accordion__control">
                <svg class="menu-item__icon">
                  <use xlink:href="img/sprite.svg#ruler"></use>
                </svg>
                <a href="#" class="g-link g-link--black menu-item__link">Дизайн</a>
                <svg class="menu-item__arrow">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </div>
              <ul class="menu-dropdown accordion__content list-reset">
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Бизнес-аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик данных</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Финансовый аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Системный аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик 1С</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Веб аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Продуктовая аналитика</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">HR-аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Сквозная аналитика</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик маркетплейсов</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик BI</a>
                </li>
              </ul>
            </div>
            <div class="menu__accordion accordion">
              <div class="menu-item accordion__control">
                <svg class="menu-item__icon">
                  <use xlink:href="img/sprite.svg#cubes"></use>
                </svg>
                <a href="#" class="g-link g-link--black menu-item__link">Детям</a>
                <svg class="menu-item__arrow">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </div>
              <ul class="menu-dropdown accordion__content list-reset">
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Бизнес-аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик данных</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Финансовый аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Системный аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик 1С</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Веб аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Продуктовая аналитика</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">HR-аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Сквозная аналитика</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик маркетплейсов</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик BI</a>
                </li>
              </ul>
            </div>
            <div class="menu__accordion accordion">
              <div class="menu-item accordion__control">
                <svg class="menu-item__icon">
                  <use xlink:href="img/sprite.svg#graduation"></use>
                </svg>
                <a href="#" class="g-link g-link--black menu-item__link">Другое</a>
                <svg class="menu-item__arrow">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </div>
              <ul class="menu-dropdown accordion__content list-reset">
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Бизнес-аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик данных</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Финансовый аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Системный аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик 1С</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Веб аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Продуктовая аналитика</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">HR-аналитик</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Сквозная аналитика</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик маркетплейсов</a>
                </li>
                <li class="menu-dropdown__item">
                  <a class="menu-dropdown__link" href="#">Аналитик BI</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="search-window">
      <form class="search-form header__search-form validate-form" action="#">
        <input class="input-reset search-form__input validate-input" type="search" name="s" id="validate-input" placeholder="Введите тему или название курса">
        <button class="btn-reset search-form__btn" aria-label="Поиск...">
          <svg aria-hidden="true">
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </button>
      </form>
    </div>
    <button class="btn-reset search-btn">
      <svg class="search-btn__icon search-btn__icon-opened" aria-hidden="true">
        <use xlink:href="img/sprite.svg#search"></use>
      </svg>
      <svg class="search-btn__icon search-btn__icon-closed" aria-hidden="true">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</header>
