<section class="hero">
  <div class="container hero__container">
    <h1 class="g-title g-title--lg g-title--center hero__title">Найдите нужный Вам курс всего за несколько кликов</h1>
    <form class="search-form search-form--lg hero__search-form" id="validate-form" action="#">
      <input class="input-reset search-form__input" type="search" name="s" id="validate-input" placeholder="Введите тему или название курса">
      <button class="btn-reset search-form__btn" aria-label="Поиск...">
        <svg aria-hidden="true">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
      </button>
    </form>
    <ul class="list-reset search-tags hero__search-tags">
      <li class="search-tags__item">
        <a href="#" class="search-tags__link">Английский язык</a>
      </li>
      <li class="search-tags__item">
        <a href="#" class="search-tags__link">Java</a>
      </li>
      <li class="search-tags__item">
        <a href="#" class="search-tags__link">Дизайн сайтов</a>
      </li>
      <li class="search-tags__item">
        <a href="#" class="search-tags__link">Системная аналитика</a>
      </li>
      <li class="search-tags__item">
        <span class="search-tags__all-categories">или посмотрите&nbsp;<a href="categories.html">все категории</a>
        </span>
      </li>
    </ul>
    <ul class="list-reset benefits hero__benefits">
      <li class="benefits__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#benefits-1"></use>
        </svg>
        <h2 class="g-title g-title--sm benefits__title">Удобный и быстрый поиск с помощью фильтров</h2>
      </li>
      <li class="benefits__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#benefits-2"></use>
        </svg>
        <h2 class="g-title g-title--sm benefits__title">Только реальные отзывы студентов</h2>
      </li>
      <li class="benefits__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#benefits-3"></use>
        </svg>
        <h2 class="g-title g-title--sm benefits__title">Актуальные скидки и выгодные предложения</h2>
      </li>
    </ul>
  </div>
</section>
