<section class="info">
  <div class="container info__container">
    <h2 class="g-title g-title--md info__title">
      CourseWorld.ru - образовательный портал про онлайн-профессии
    </h2>
    <p class="info__desc">На портале размещаются обзоры современных образовательных программ России и СНГ, интернет-профессий и цифровых сервисов. Помогаем определиться с профессией, подобрать подходящий онлайн-курс из огромной внутренней базы. Сотрудничаем с онлайн-университетами и школами, получаем выгодные условия на обучение и делимся ими с читателями. Наша цель — помочь получить востребованную онлайн-профессию без лишних проблем и разочарований.</p>
    <p class="info__desc">К нам обращаются, чтобы получить персональные рекомендации по digital-профессиям. Анализируем навыки и составляем план развития. Он состоит из самостоятельного&nbsp;образования, практики и прохождения онлайн-курсов для быстрого освоения профессии.</p>
  </div>
</section>
