<div class="graph-modal">
  <div class="graph-modal__container" aria-modal="true" data-graph-target="thank">
    <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно">
      <svg aria-hidden="true">
        <use xlink:href="img/sprite.svg#cross"></use>
      </svg>
    </button>
    <div class="graph-modal__content">
      <svg class="graph-modal__icon">
        <use xlink:href="img/sprite.svg#tick"></use>
      </svg>
      <h2 class="g-title graph-modal__title">Сообщение успешно отправлено</h2>
      <p class="graph-modal__desc">Мы ответим так быстро, как это возможно</p>
      <button class="btn-reset g-btn g-btn--stroke graph-modal__btn js-modal-close">Продолжить</button>
    </div>
  </div>
</div>
