<section class="other-categories">
  <div class="container other-categories__container">
    <h2 class="g-title g-title--md other-categories__title">Другие категории</h2>
    <ul class="popular-categories__list list-reset">
      <li class="category-item">
        <a href="category.html" class="g-title g-title--sm category-item__title">Программирование</a>
        <svg class="category-item__icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#code"></use>
        </svg>
      </li>
      <li class="category-item">
        <a href="category.html" class="g-title g-title--sm category-item__title">Аналитика</a>
        <svg class="category-item__icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#pie-chart"></use>
        </svg>
      </li>
      <li class="category-item">
        <a href="category.html" class="g-title g-title--sm category-item__title">Иностранные языки</a>
        <svg class="category-item__icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#speech-bubble"></use>
        </svg>
      </li>
      <li class="category-item">
        <a href="category.html" class="g-title g-title--sm category-item__title">Маркетинг</a>
        <svg class="category-item__icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#megaphone"></use>
        </svg>
      </li>
      <li class="category-item">
        <a href="category.html" class="g-title g-title--sm category-item__title">Финансы</a>
        <svg class="category-item__icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#bank"></use>
        </svg>
      </li>
      <li class="category-item">
        <a href="category.html" class="g-title g-title--sm category-item__title">Бизнес и управление</a>
        <svg class="category-item__icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#suitcase"></use>
        </svg>
      </li>
      <li class="category-item">
        <a href="category.html" class="g-title g-title--sm category-item__title">Дизайн</a>
        <svg class="category-item__icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#ruler"></use>
        </svg>
      </li>
      <li class="category-item">
        <a href="category.html" class="g-title g-title--sm category-item__title">Детям</a>
        <svg class="category-item__icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#cubes"></use>
        </svg>
      </li>
      <li class="category-item">
        <a href="category.html" class="g-title g-title--sm category-item__title">Другое</a>
        <svg class="category-item__icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#graduation"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
