<section class="popular-schools">
  <h2 class="g-title g-title--md g-title--center popular-schools__title">Популярные школы</h2>
  <div class="popular-schools__content">
    <div class="container popular-schools__container">
      <div class="swiper popular-schools__slider">
        <div class="swiper-wrapper popular-schools__wrapper">
          <div class="swiper-slide">
            <a href="school.html" class="popular-school">
              <img width="116" height="38" class="popular-school__image lozad" src="img/school-1.png" srcset="img/school-1@2x.png 2x" alt="Логотип школы 1">
              <span class="popular-school__testimonials">13 отзывов</span>
              <svg aria-hidden="true" class="popular-school__icon">
                <use xlink:href="img/sprite.svg#stars"></use>
              </svg>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="school.html" class="popular-school">
              <img width="116" height="38" class="popular-school__image lozad" src="img/school-2.png" srcset="img/school-2@2x.png 2x" alt="Логотип школы 2">
              <span class="popular-school__testimonials">5 отзывов</span>
              <svg aria-hidden="true" class="popular-school__icon">
                <use xlink:href="img/sprite.svg#stars"></use>
              </svg>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="school.html" class="popular-school">
              <img width="116" height="38" class="popular-school__image lozad" src="img/school-3.png" srcset="img/school-3@2x.png 2x" alt="Логотип школы 3">
              <span class="popular-school__testimonials">23 отзывов</span>
              <svg aria-hidden="true" class="popular-school__icon">
                <use xlink:href="img/sprite.svg#stars"></use>
              </svg>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="school.html" class="popular-school">
              <img width="116" height="38" class="popular-school__image lozad" src="img/school-4.png" srcset="img/school-4@2x.png 2x" alt="Логотип школы 4">
              <span class="popular-school__testimonials">33 отзывов</span>
              <svg aria-hidden="true" class="popular-school__icon">
                <use xlink:href="img/sprite.svg#stars"></use>
              </svg>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="school.html" class="popular-school">
              <img width="116" height="38" class="popular-school__image lozad" src="img/school-5.png" srcset="img/school-5@2x.png 2x" alt="Логотип школы 5">
              <span class="popular-school__testimonials">23 отзывов</span>
              <svg aria-hidden="true" class="popular-school__icon">
                <use xlink:href="img/sprite.svg#stars"></use>
              </svg>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="school.html" class="popular-school">
              <img width="116" height="38" class="popular-school__image lozad" src="img/school-6.png" srcset="img/school-6@2x.png 2x" alt="Логотип школы 6">
              <span class="popular-school__testimonials">5 отзывов</span>
              <svg aria-hidden="true" class="popular-school__icon">
                <use xlink:href="img/sprite.svg#stars"></use>
              </svg>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="school.html" class="popular-school">
              <img width="116" height="38" class="popular-school__image lozad" src="img/school-7.png" srcset="img/school-7@2x.png 2x" alt="Логотип школы 7">
              <span class="popular-school__testimonials">5 отзывов</span>
              <svg aria-hidden="true" class="popular-school__icon">
                <use xlink:href="img/sprite.svg#stars"></use>
              </svg>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="school.html" class="popular-school">
              <img width="116" height="38" class="popular-school__image lozad" src="img/school-8.png" srcset="img/school-8@2x.png 2x" alt="Логотип школы 8">
              <span class="popular-school__testimonials">5 отзывов</span>
              <svg aria-hidden="true" class="popular-school__icon">
                <use xlink:href="img/sprite.svg#stars"></use>
              </svg>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="school.html" class="popular-school">
              <img width="116" height="38" class="popular-school__image lozad" src="img/school-9.png" srcset="img/school-9@2x.png 2x" alt="Логотип школы 9">
              <span class="popular-school__testimonials">5 отзывов</span>
              <svg aria-hidden="true" class="popular-school__icon">
                <use xlink:href="img/sprite.svg#stars"></use>
              </svg>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="school.html" class="popular-school">
              <img width="116" height="38" class="popular-school__image lozad" src="img/school-10.png" srcset="img/school-10@2x.png 2x" alt="Логотип школы 10">
              <span class="popular-school__testimonials">5 отзывов</span>
              <svg aria-hidden="true" class="popular-school__icon">
                <use xlink:href="img/sprite.svg#stars"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
