<section class="popular-categories">
  <div class="container popular-categories__container">
    <h2 class="g-title g-title--md g-title--center popular-categories__title">
      Популярные категории
    </h2>
    <ul class="popular-categories__list list-reset">
      <li class="category-item">
        <a href="category.html" class="g-title g-title--sm category-item__title">Программирование</a>
        <ul class="category-links category-item__links list-reset">
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              Java
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              C
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              1C
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              Python
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              JavaScript
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              SQL
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              HTML
            </a>
          </li>
        </ul>
        <svg class="category-item__icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#code"></use>
        </svg>
      </li>
      <li class="category-item">
        <a href="category.html" class="g-title g-title--sm category-item__title">Аналитика</a>
        <ul class="category-links category-item__links list-reset">
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              Бизнес-аналитик
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              Аналитик данных
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              Финансовый аналитик
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              Системный аналитик
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              Аналитик 1С
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              Веб аналитик
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              Продуктовая аналитика
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              HR-аналитик
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              Сквозная аналитика
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              Аналитик маркетплейсов
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              Аналитик BI
            </a>
          </li>
        </ul>
        <svg class="category-item__icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#pie-chart"></use>
        </svg>
      </li>
      <li class="category-item">
        <a href="category.html" class="g-title g-title--sm category-item__title">Иностранные языки</a>
        <ul class="category-links category-item__links list-reset">
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              Английский язык
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              Немецкий язык
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              Испанский язык
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              Французский язык
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              Китайский язык
            </a>
          </li>
          <li class="category-links__item">
            <a href="category.html" class="g-link g-link--black category-links__link">
              Японский язык
            </a>
          </li>
        </ul>
        <svg class="category-item__icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#speech-bubble"></use>
        </svg>
      </li>
      <li class="category-item">
        <a href="category.html" class="g-title g-title--sm category-item__title">Маркетинг</a>
        <svg class="category-item__icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#megaphone"></use>
        </svg>
      </li>
      <li class="category-item">
        <a href="category.html" class="g-title g-title--sm category-item__title">Финансы</a>
        <svg class="category-item__icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#bank"></use>
        </svg>
      </li>
      <li class="category-item">
        <a href="category.html" class="g-title g-title--sm category-item__title">Бизнес и управление</a>
        <svg class="category-item__icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#suitcase"></use>
        </svg>
      </li>
      <li class="category-item">
        <a href="category.html" class="g-title g-title--sm category-item__title">Дизайн</a>
        <svg class="category-item__icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#ruler"></use>
        </svg>
      </li>
      <li class="category-item">
        <a href="category.html" class="g-title g-title--sm category-item__title">Детям</a>
        <svg class="category-item__icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#cubes"></use>
        </svg>
      </li>
      <li class="category-item">
        <a href="category.html" class="g-title g-title--sm category-item__title">Другое</a>
        <svg class="category-item__icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#graduation"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
