<section class="schools">
  <div class="container school__container">
    <ul class="breadcrumbs list-reset">
      <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__link">
          Главная
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__link">
          Школы
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">
          Skillbox
        </a>
      </li>
    </ul>
    <div class="school__body">
      <div class="school-info">
        <img width="116" height="38" class="school-info__image lozad" src="img/school-8.png"
          srcset="img/school-8@2x.png 2x" alt="Логотип школы 8">
        <span class="school-info__rating-value">4.5</span>
        <svg class="school-info__rating-icon">
          <use xlink:href="img/sprite.svg#stars"></use>
        </svg>
        <a href="#" class="g-btn g-btn--stroke school-info__link">
          <svg aria-hidden="true">
            <use xlink:href="img/sprite.svg#open"></use>
          </svg>
          Перейти на сайт
        </a>
      </div>
      <div class="school__right">
        <ul class="list-reset school-nav">
          <li class="school-nav__item">
            <a href="#about" class="anchor-link active school-nav__link">
              О школе
            </a>
          </li>
          <li class="school-nav__item">
            <a href="#testimonials" class="anchor-link school-nav__link">
              <span>Отзывы</span>
              <span class="quantity">4</span>
            </a>
          </li>
          <li class="school-nav__item">
            <a href="#give-feedback" class="anchor-link school-nav__link school-nav__btn">Оставить отзыв</a>
          </li>
          <li class="school-nav__item">
            <a href="#courses" class="anchor-link school-nav__link">
              <span>Курсы школы</span>
              <span class="quantity">10</span>
            </a>
          </li>
        </ul>
        <div class="school__content" id="about">
          <h1 class="g-title g-title--xl school__title">Skillbox</h1>
          <p class="school__desc">
            <span>Что это.</span> Онлайн-университет, который предлагает прикладные курсы и программы от главных
            экспертов рынка. У них актуальные подходы к обучению, работа над реальными проектами, стажировки и
            трудоустройство в крупнейшие компании страны
          </p>
          <p class="school__desc">
            <span>Направления.</span> Дизайн, программирование, маркетинг, игры и управление
          </p>
          <p class="school__desc">
            <span>Курсы и профессии.</span> Python-разработчик, веб-дизайнер, интернет-маркетолог, бизнес-аналитик,
            геймдизайнер и др.
          </p>
          <p class="school__desc">
            <span>Формат обучения.</span> Видеолекции, домашние задания, ответы на вопросы + вебинары, офлайн-занятия,
            мероприятия и экскурсии в компании-партнёры
          </p>
          <p class="school__desc">
            <span>Преподаватели.</span> Работающие специалисты, профессионалы в своей области
          </p>
          <p class="school__desc">
            <span>Преимущества.</span> Учат новичков и опытных, разбирают настоящие кейсы компаний. Партнёры: «Рамблер»,
            Mail.ru, «Яндекс», Microsoft, «Мегафон», «МТС», «Сбербанк», «Альфа-Банк» и др. Есть комплексные программы
            обучения от 1 года
          </p>
        </div>
        <div class="school__content" id="testimonials">
          <h1 class="g-title g-title--lg school__content-title">
            Отзывы
            <span class="quantity">4</span>
          </h1>
          <div class="testimonials-info">
            <div class="testimonials-info__left">
              <span class="testimonials-info__rating">
                <span class="testimonials-info__rating-value">4.5</span>
                <span class="testimonials-info__rating-total">из 5</span>
              </span>
              <svg class="testimonials-info__icon">
                <use xlink:href="img/sprite.svg#stars"></use>
              </svg>
            </div>
            <div class="grade testimonials-info__grade">
              <div class="grade-item">
                <svg aria-hidden="true" class="grade-item__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <div class="progress grade-item__progress" title="10">
                  <span class="progress-bar" style="width: 85%"></span>
                </div>
                <span class="grade-item__quantity">10</span>
              </div>
              <div class="grade-item">
                <svg aria-hidden="true" class="grade-item__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <div class="progress grade-item__progress" title="5">
                  <span class="progress-bar" style="width: 40%"></span>
                </div>
                <span class="grade-item__quantity">5</span>
              </div>
              <div class="grade-item">
                <svg aria-hidden="true" class="grade-item__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <div class="progress grade-item__progress" title="3">
                  <span class="progress-bar" style="width: 30%"></span>
                </div>
                <span class="grade-item__quantity">3</span>
              </div>
              <div class="grade-item">
                <svg aria-hidden="true" class="grade-item__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <div class="progress grade-item__progress" title="1">
                  <span class="progress-bar" style="width: 15%"></span>
                </div>
                <span class="grade-item__quantity">1</span>
              </div>
              <div class="grade-item">
                <svg aria-hidden="true" class="grade-item__icon">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <div class="progress grade-item__progress" title="0">
                  <span class="progress-bar" style="width: 0%"></span>
                </div>
                <span class="grade-item__quantity">0</span>
              </div>
            </div>
            <a href="#give-feedback" class="anchor-link g-btn testimonials-info__btn">
              <svg class="">
                <use xlink:href="img/sprite.svg#pencil"></use>
              </svg>
              Оставить отзыв
            </a>
          </div>
          <div class="sort-by testimonials__sort-by">
            <span class="sort-by__caption">Сортировать по:</span>
            <div class="sort-by__select open-sort-by">
              <span class="sort-by__current">Дата публикации</span>
              <ul class="list-reset sort-by__list">
                <li class="sort-by__item active">Дата публикации</li>
                <li class="sort-by__item">Популярности</li>
                <li class="sort-by__item">Сначала положительные</li>
                <li class="sort-by__item">Сначала отрицательные</li>
              </ul>
            </div>
          </div>
          <ul class="list-reset testimonials">
            <li class="testimonial testimonials__item">
              <div class="testimonial__top">
                <div class="testimonial__left">
                  <svg class="testimonial__rating" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#stars"></use>
                  </svg>
                </div>
                <span class="testimonial__name">Константин К.</span>
                <span class="testimonial__date">1 марта 2022</span>
              </div>
              <p class="testimonial__text">Онлайн-университет, который предлагает прикладные курсы и программы от
                главных экспертов рынка. У них актуальные подходы к обучению, работа над реальными проектами, стажировки
                и трудоустройство в крупнейшие компании страны</p>
              <div class="testimonial-rate">
                <span class="testimonial-rate__caption">Был ли отзыв полезен?</span>
                <div class="testimonial-rate__btns like-btns">
                  <button class="btn-reset testimonial-rate__btn g-like-btn">
                    <svg aria-hidden="true">
                      <use xlink:href="img/sprite.svg#like"></use>
                    </svg>
                    <span class="g-like-btn__quantity">33</span>
                  </button>
                  <button class="btn-reset testimonial-rate__btn g-like-btn g-like-btn--dislike">
                    <svg aria-hidden="true">
                      <use xlink:href="img/sprite.svg#like"></use>
                    </svg>
                    <span class="g-like-btn__quantity">2</span>
                  </button>
                </div>
              </div>
            </li>
            <li class="testimonial testimonials__item">
              <div class="testimonial__top">
                <div class="testimonial__left">
                  <svg class="testimonial__rating" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#stars"></use>
                  </svg>
                </div>
                <span class="testimonial__name">Константин К.</span>
                <span class="testimonial__date">1 марта 2022</span>
              </div>
              <p class="testimonial__text">Онлайн-университет, который предлагает прикладные курсы и программы от
                главных экспертов рынка. У них актуальные подходы к обучению, работа над реальными проектами, стажировки
                и трудоустройство в крупнейшие компании страны</p>
              <div class="testimonial-rate">
                <span class="testimonial-rate__caption">Был ли отзыв полезен?</span>
                <div class="testimonial-rate__btns like-btns">
                  <button class="btn-reset testimonial-rate__btn g-like-btn">
                    <svg aria-hidden="true">
                      <use xlink:href="img/sprite.svg#like"></use>
                    </svg>
                    <span class="g-like-btn__quantity">33</span>
                  </button>
                  <button class="btn-reset testimonial-rate__btn g-like-btn g-like-btn--dislike">
                    <svg aria-hidden="true">
                      <use xlink:href="img/sprite.svg#like"></use>
                    </svg>
                    <span class="g-like-btn__quantity">2</span>
                  </button>
                </div>
              </div>
            </li>
            <li class="testimonial testimonials__item">
              <div class="testimonial__top">
                <div class="testimonial__left">
                  <svg class="testimonial__rating" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#stars"></use>
                  </svg>
                </div>
                <span class="testimonial__name">Константин К.</span>
                <span class="testimonial__date">1 марта 2022</span>
              </div>
              <p class="testimonial__text">Онлайн-университет, который предлагает прикладные курсы и программы от
                главных экспертов рынка. У них актуальные подходы к обучению, работа над реальными проектами, стажировки
                и трудоустройство в крупнейшие компании страны</p>
              <div class="testimonial-rate">
                <span class="testimonial-rate__caption">Был ли отзыв полезен?</span>
                <div class="testimonial-rate__btns like-btns">
                  <button class="btn-reset testimonial-rate__btn g-like-btn">
                    <svg aria-hidden="true">
                      <use xlink:href="img/sprite.svg#like"></use>
                    </svg>
                    <span class="g-like-btn__quantity">33</span>
                  </button>
                  <button class="btn-reset testimonial-rate__btn g-like-btn g-like-btn--dislike">
                    <svg aria-hidden="true">
                      <use xlink:href="img/sprite.svg#like"></use>
                    </svg>
                    <span class="g-like-btn__quantity">2</span>
                  </button>
                </div>
              </div>
            </li>
            <li class="testimonial testimonials__item">
              <div class="testimonial__top">
                <div class="testimonial__left">
                  <svg class="testimonial__rating" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#stars"></use>
                  </svg>
                </div>
                <span class="testimonial__name">Константин К.</span>
                <span class="testimonial__date">1 марта 2022</span>
              </div>
              <p class="testimonial__text">Онлайн-университет, который предлагает прикладные курсы и программы от
                главных экспертов рынка. У них актуальные подходы к обучению, работа над реальными проектами, стажировки
                и трудоустройство в крупнейшие компании страны</p>
              <div class="testimonial-rate">
                <span class="testimonial-rate__caption">Был ли отзыв полезен?</span>
                <div class="testimonial-rate__btns like-btns">
                  <button class="btn-reset testimonial-rate__btn g-like-btn">
                    <svg aria-hidden="true">
                      <use xlink:href="img/sprite.svg#like"></use>
                    </svg>
                    <span class="g-like-btn__quantity">33</span>
                  </button>
                  <button class="btn-reset testimonial-rate__btn g-like-btn g-like-btn--dislike">
                    <svg aria-hidden="true">
                      <use xlink:href="img/sprite.svg#like"></use>
                    </svg>
                    <span class="g-like-btn__quantity">2</span>
                  </button>
                </div>
              </div>
            </li>
            <li class="testimonial testimonials__item">
              <div class="testimonial__top">
                <div class="testimonial__left">
                  <svg class="testimonial__rating" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#stars"></use>
                  </svg>
                </div>
                <span class="testimonial__name">Константин К.</span>
                <span class="testimonial__date">1 марта 2022</span>
              </div>
              <p class="testimonial__text">Онлайн-университет, который предлагает прикладные курсы и программы от
                главных экспертов рынка. У них актуальные подходы к обучению, работа над реальными проектами, стажировки
                и трудоустройство в крупнейшие компании страны</p>
              <div class="testimonial-rate">
                <span class="testimonial-rate__caption">Был ли отзыв полезен?</span>
                <div class="testimonial-rate__btns like-btns">
                  <button class="btn-reset testimonial-rate__btn g-like-btn">
                    <svg aria-hidden="true">
                      <use xlink:href="img/sprite.svg#like"></use>
                    </svg>
                    <span class="g-like-btn__quantity">33</span>
                  </button>
                  <button class="btn-reset testimonial-rate__btn g-like-btn g-like-btn--dislike">
                    <svg aria-hidden="true">
                      <use xlink:href="img/sprite.svg#like"></use>
                    </svg>
                    <span class="g-like-btn__quantity">2</span>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="school__content" id="give-feedback">
          <form action="#" class="feedback-form school__feedback-form" id="testimonial-form">
            <h2 class="g-title g-title--xl feedback-form__title">Добавить отзыв</h2>
            <div class="feedback-form__items">
              <div class="feedback-form__item feedback-rating">
                <div class="feedback-rating__top">
                  <span class="feedback-rating__caption">
                    Ваша оценка
                    <span>*</span>
                  </span>
                  <div class="g-rating validate-rating">
                    <input class="g-rating__input input-reset" type="radio" id="star5" name="rating" value="5" />
                    <label class="g-rating__label" for="star5"></label>
                    <input class="g-rating__input input-reset" type="radio" id="star4half" name="rating" value="4 с половиной" />
                    <label class="g-rating__label g-rating__label--half" for="star4half"></label>
                    <input class="g-rating__input input-reset" type="radio" id="star4" name="rating" value="4" />
                    <label class="g-rating__label" for="star4"></label>
                    <input class="g-rating__input input-reset" type="radio" id="star3half" name="rating" value="3 с половиной" />
                    <label class="g-rating__label g-rating__label--half" for="star3half"></label>
                    <input class="g-rating__input input-reset" type="radio" id="star3" name="rating" value="3" />
                    <label class="g-rating__label" for="star3"></label>
                    <input class="g-rating__input input-reset" type="radio" id="star2half" name="rating" value="2 с половиной" />
                    <label class="g-rating__label g-rating__label--half" for="star2half"></label>
                    <input class="g-rating__input input-reset" type="radio" id="star2" name="rating" value="2" />
                    <label class="g-rating__label" for="star2"></label>
                    <input class="g-rating__input input-reset" type="radio" id="star1half" name="rating" value="1 с половиной" />
                    <label class="g-rating__label g-rating__label--half" for="star1half"></label>
                    <input class="g-rating__input input-reset" type="radio" id="star1" name="rating" value="1" />
                    <label class="g-rating__label" for="star1"></label>
                    <input class="g-rating__input input-reset" type="radio" id="starhalf" name="rating" value="половина" />
                    <label class="g-rating__label g-rating__label--half" for="starhalf"></label>
                  </div>
                </div>
              </div>
              <label class="g-input-label feedback-form__item">
                <span class="g-input__caption">
                  Имя
                  <span>*</span>
                </span>
                <input class="input-reset g-input validate-input" type="text" placeholder="Введите имя">
              </label>
              <label class="g-input-label feedback-form__item">
                <span class="g-input__caption">
                  Имя
                  <span>*</span>
                </span>
                <input class="input-reset g-input validate-email" type="email" placeholder="Введите email">
              </label>
              <label class="g-input-label feedback-form__item">
                <span class="g-input__caption">
                  Сообщение
                  <span>*</span>
                </span>
                <textarea class="input-reset g-input validate-message g-input-textarea"
                  placeholder="Введите сообщение"></textarea>
              </label>
            </div>
            <div class="feedback-form__bottom">
              <button class="btn-reset g-btn g-btn--fill feedback-form__btn" data-graph-animation="fadeInUp" data-graph-path="thank">Отправить</button>
              <div class="feedback-form__policy">
                <div class="g-checkbox">
                  <input class="input-reset g-checkbox__input" type="checkbox" checked>
                  <span class="g-checkbox__switch"></span>
                </div>
                <p class="feedback-form__desc">
                  Нажимая на кнопку «Отправить», я даю согласие на обработку
                  <a href="policy.html">персональных данных</a>
                </p>
              </div>
            </div>
          </form>
        </div>
        <div class="school__content" id="courses">
          <div class="school__content-top">
            <h1 class="g-title g-title--lg school__content-title">Курсы от Skillbox</h1>
            <div class="sort-by">
              <span class="sort-by__caption">Сортировать по:</span>
              <div class="sort-by__select open-sort-by">
                <span class="sort-by__current">Дата публикации</span>
                <ul class="list-reset sort-by__list">
                  <li class="sort-by__item active">Дата публикации</li>
                  <li class="sort-by__item">Популярности</li>
                  <li class="sort-by__item">Сначала положительные</li>
                  <li class="sort-by__item">Сначала отрицательные</li>
                </ul>
              </div>
            </div>
          </div>
          <a href="#" class="card">
            <div class="card__left">
              <span class="card__school">SkillFactory</span>
              <h2 class="g-title g-title--sm card__title">
                Профессия «Android-разработчик»
              </h2>
              <div class="card-info">
                <div class="card-info__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#time"></use>
                  </svg>
                  <span class="card-info__caption">Длительность: 12 месяцев</span>
                </div>
                <div class="card-info__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#date"></use>
                  </svg>
                  <span class="card-info__caption">Начало: 1 марта 2022</span>
                </div>
              </div>
              <h3 class="g-title g-title--sm card__price">60 900 ₽</h3>
            </div>
            <div class="card__right">
              <div class="card-rating">
                <span class="card-rating__value">4.5</span>
                <svg class="card-rating__icon" aria-hidden="true">
                  <use xlink:href="img/sprite.svg#stars"></use>
                </svg>
                <div class="card-review">
                  <svg class="card-review__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#review"></use>
                  </svg>
                  <span class="card-review__caption">
                    33 отзыва
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="card">
            <div class="card__left">
              <span class="card__school">SkillFactory</span>
              <h2 class="g-title g-title--sm card__title">
                Профессия «Android-разработчик»
              </h2>
              <div class="card-info">
                <div class="card-info__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#time"></use>
                  </svg>
                  <span class="card-info__caption">Длительность: 12 месяцев</span>
                </div>
                <div class="card-info__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#date"></use>
                  </svg>
                  <span class="card-info__caption">Начало: 1 марта 2022</span>
                </div>
              </div>
              <h3 class="g-title g-title--sm card__price">60 900 ₽</h3>
            </div>
            <div class="card__right">
              <div class="card-rating">
                <span class="card-rating__value">4.5</span>
                <svg class="card-rating__icon" aria-hidden="true">
                  <use xlink:href="img/sprite.svg#stars"></use>
                </svg>
                <div class="card-review">
                  <svg class="card-review__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#review"></use>
                  </svg>
                  <span class="card-review__caption">
                    33 отзыва
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="card">
            <div class="card__left">
              <span class="card__school">SkillFactory</span>
              <h2 class="g-title g-title--sm card__title">
                Профессия «Android-разработчик»
              </h2>
              <div class="card-info">
                <div class="card-info__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#time"></use>
                  </svg>
                  <span class="card-info__caption">Длительность: 12 месяцев</span>
                </div>
                <div class="card-info__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#date"></use>
                  </svg>
                  <span class="card-info__caption">Начало: 1 марта 2022</span>
                </div>
              </div>
              <h3 class="g-title g-title--sm card__price">60 900 ₽</h3>
            </div>
            <div class="card__right">
              <div class="card-rating">
                <span class="card-rating__value">4.5</span>
                <svg class="card-rating__icon" aria-hidden="true">
                  <use xlink:href="img/sprite.svg#stars"></use>
                </svg>
                <div class="card-review">
                  <svg class="card-review__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#review"></use>
                  </svg>
                  <span class="card-review__caption">
                    33 отзыва
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="card">
            <div class="card__left">
              <span class="card__school">SkillFactory</span>
              <h2 class="g-title g-title--sm card__title">
                Профессия «Android-разработчик»
              </h2>
              <div class="card-info">
                <div class="card-info__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#time"></use>
                  </svg>
                  <span class="card-info__caption">Длительность: 12 месяцев</span>
                </div>
                <div class="card-info__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#date"></use>
                  </svg>
                  <span class="card-info__caption">Начало: 1 марта 2022</span>
                </div>
              </div>
              <h3 class="g-title g-title--sm card__price">60 900 ₽</h3>
            </div>
            <div class="card__right">
              <div class="card-rating">
                <span class="card-rating__value">4.5</span>
                <svg class="card-rating__icon" aria-hidden="true">
                  <use xlink:href="img/sprite.svg#stars"></use>
                </svg>
                <div class="card-review">
                  <svg class="card-review__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#review"></use>
                  </svg>
                  <span class="card-review__caption">
                    33 отзыва
                  </span>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="card">
            <div class="card__left">
              <span class="card__school">SkillFactory</span>
              <h2 class="g-title g-title--sm card__title">
                Профессия «Android-разработчик»
              </h2>
              <div class="card-info">
                <div class="card-info__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#time"></use>
                  </svg>
                  <span class="card-info__caption">Длительность: 12 месяцев</span>
                </div>
                <div class="card-info__item">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#date"></use>
                  </svg>
                  <span class="card-info__caption">Начало: 1 марта 2022</span>
                </div>
              </div>
              <h3 class="g-title g-title--sm card__price">60 900 ₽</h3>
            </div>
            <div class="card__right">
              <div class="card-rating">
                <span class="card-rating__value">4.5</span>
                <svg class="card-rating__icon" aria-hidden="true">
                  <use xlink:href="img/sprite.svg#stars"></use>
                </svg>
                <div class="card-review">
                  <svg class="card-review__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#review"></use>
                  </svg>
                  <span class="card-review__caption">
                    33 отзыва
                  </span>
                </div>
              </div>
            </div>
          </a>
          <button class="btn-reset g-btn load-more">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#reload"></use>
            </svg>
            Показать еще
          </button>
          <ul class="g-pagination list-reset">
            <li class="g-pagination__item">
              <a href="#" class="g-pagination__link g-pagination__link--disabled g-pagination__link--prev">
                <svg aria-hidden="true">
                  <use xlink:href="img/sprite.svg#next"></use>
                </svg>
              </a>
            </li>
            <li class="g-pagination__item">
              <span class="g-pagination__link g-pagination__link--current">
                1
              </span>
            </li>
            <li class="g-pagination__item">
              <a href="#" class="g-pagination__link">
                2
              </a>
            </li>
            <li class="g-pagination__item">
              <a href="#" class="g-pagination__link">
                3
              </a>
            </li>
            <li class="g-pagination__item">
              <a href="#" class="g-pagination__link">
                4
              </a>
            </li>
            <li class="g-pagination__item">
              <a href="#" class="g-pagination__link">
                5
              </a>
            </li>
            <li class="g-pagination__item">
              <a href="#" class="g-pagination__link g-pagination__link--next">
                <svg aria-hidden="true">
                  <use xlink:href="img/sprite.svg#next"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
