<section class="schools">
  <div class="container schools__container">
    <ul class="breadcrumbs list-reset">
      <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__link">
          Главная
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__link">
          Школы
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">
          Skillbox
        </a>
      </li>
    </ul>
    <!-- <h1 class="g-title g-title--xl schools__title">Лучшие школы онлайн</h1> -->
  </div>
</section>
