:root {
  // base
  --font-family: "Montserrat", sans-serif;
  --content-width: 1280px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-primary: #3c50e0;
  --color-red: #ff5762;
  --color-text: #1d2948;
  --color-yellow: #ffc64a;
  --color-text-light: #8288ab;
}
